In [1]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [9]:
# Contoh Insert Data
employee_data = {
    'name' : 'bima',
    'departement' : 'finance',
    'age' : 29,
    'salary' : 4500
}

collection.insert_one(employee_data)
print('data telah dimasukan')

data telah dimasukan

In [3]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6902c1a5a1fd15453b2c21e9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [10]:
from pprint import pprint

for employee in collection.find():
    pprint(employee)

{'_id': ObjectId('6902c1a5a1fd15453b2c21e9'),
 'age': 29,
 'department': 'Finance',
 'name': 'Alice',
 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21eb'),
 'age': 29,
 'department': 'Finance',
 'name': 'Alice',
 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21ec'),
 'age': 32,
 'department': 'IT',
 'name': 'Bob',
 'salary': 6500}
{'_id': ObjectId('6902c36da1fd15453b2c21ee'),
 'age': 35,
 'department': 'Marketing',
 'name': 'Diana',
 'salary': 5500}
{'Age': 23,
 'Department': 'IT',
 'Gender': 'M',
 'Name': 'Asep',
 'Salary': 3000,
 '_id': ObjectId('6902c378a1fd15453b2c21f0')}
{'Age': 28,
 'Department': 'HR',
 'Gender': 'F',
 'Name': 'Rina',
 'Salary': 4100,
 '_id': ObjectId('6902c378a1fd15453b2c21f1')}
{'Age': 34,
 'Department': 'IT',
 'Gender': 'M',
 'Name': 'Budi',
 'Salary': 3000,
 '_id': ObjectId('6902c378a1fd15453b2c21f2')}
{'Age': 26,
 'Department': 'Finance',
 'Gender': 'F',
 'Name': 'Dina',
 'Salary': 3800,
 '_id': ObjectId('6902c378a1fd15453b2c21f3')}
{'_id': ObjectId('6902c4afa1fd15453b2c21f5'),
 'age': 29,
 'departement': 'finance',
 'name': 'bima',
 'salary': 4500}

In [2]:
# Import library
from pymongo import MongoClient

# Koneksi ke MongoDB lokal
client = MongoClient("mongodb://localhost:27017/")

# Pilih database dan koleksi
db = client['company_db']
collection = db['employees']
print("Koneksi ke MongoDB berhasil!")

# --- INSERT DATA ---

# Contoh 1: Insert satu data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print("Data berhasil dimasukkan (1 data)")

# Contoh 2: Insert beberapa data sekaligus
multiple_employees = [
    {'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200},
    {'name': 'Charlie', 'department': 'HR', 'age': 26, 'salary': 4100},
    {'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
]
collection.insert_many(multiple_employees)
print("banyak data berhasil dimasukan")

# --- READ DATA (QUERY) ---
print("\nData karyawan saat ini:")
for employee in collection.find():
    print(employee)

# --- UPDATE DATA ---
# Update data karyawan bernama Bob
collection.update_one(
    {'name': 'Bob'},                # kondisi pencarian
    {'$set': {'salary': 5500}}      # perubahan yang dilakukan
)
print("\nData Bob telah diperbarui")

# Tampilkan hasil update
for employee in collection.find({'name': 'Bob'}):
    print(employee)

# --- DELETE DATA ---
# Hapus data karyawan bernama Charlie
collection.delete_one({'name': 'Charlie'})
print("\nData Charlie telah dihapus")

# Tampilkan hasil akhir koleksi
print("\nData akhir setelah operasi CRUD:")
for employee in collection.find():
    print(employee)

Koneksi ke MongoDB berhasil!
Data berhasil dimasukkan (1 data)
banyak data berhasil dimasukan

Data karyawan saat ini:
{'_id': ObjectId('6902c1a5a1fd15453b2c21e9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21eb'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21ec'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6902c36da1fd15453b2c21ee'), 'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}
{'_id': ObjectId('6902c378a1fd15453b2c21f0'), 'Name': 'Asep', 'Gender': 'M', 'Age': 23, 'Salary': 3000, 'Department': 'IT'}
{'_id': ObjectId('6902c378a1fd15453b2c21f1'), 'Name': 'Rina', 'Gender': 'F', 'Age': 28, 'Salary': 4100, 'Department': 'HR'}
{'_id': ObjectId('6902c378a1fd15453b2c21f2'), 'Name': 'Budi', 'Gender': 'M', 'Age': 34, 'Salary': 3000, 'Department': 'IT'}
{'_id': ObjectId('6902c378a1fd15453b2c21f3'), 'Name': 'Dina', 'Gender': 'F', 'Age': 26, 'Salary': 3800, 'Department': 'Finance'}
{'_id': ObjectId('6902c4afa1fd15453b2c21f5'), 'name': 'bima', 'departement': 'finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b04765dd11d13264c2049'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b04765dd11d13264c204a'), 'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'_id': ObjectId('690b04765dd11d13264c204c'), 'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
{'_id': ObjectId('690b05dd5dd11d13264c204e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b05dd5dd11d13264c204f'), 'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'_id': ObjectId('690b05dd5dd11d13264c2050'), 'name': 'Charlie', 'department': 'HR', 'age': 26, 'salary': 4100}
{'_id': ObjectId('690b05dd5dd11d13264c2051'), 'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}

Data Bob telah diperbarui
{'_id': ObjectId('6902c36da1fd15453b2c21ec'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('690b04765dd11d13264c204a'), 'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'_id': ObjectId('690b05dd5dd11d13264c204f'), 'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}

Data Charlie telah dihapus

Data akhir setelah operasi CRUD:
{'_id': ObjectId('6902c1a5a1fd15453b2c21e9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21eb'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21ec'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6902c36da1fd15453b2c21ee'), 'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}
{'_id': ObjectId('6902c378a1fd15453b2c21f0'), 'Name': 'Asep', 'Gender': 'M', 'Age': 23, 'Salary': 3000, 'Department': 'IT'}
{'_id': ObjectId('6902c378a1fd15453b2c21f1'), 'Name': 'Rina', 'Gender': 'F', 'Age': 28, 'Salary': 4100, 'Department': 'HR'}
{'_id': ObjectId('6902c378a1fd15453b2c21f2'), 'Name': 'Budi', 'Gender': 'M', 'Age': 34, 'Salary': 3000, 'Department': 'IT'}
{'_id': ObjectId('6902c378a1fd15453b2c21f3'), 'Name': 'Dina', 'Gender': 'F', 'Age': 26, 'Salary': 3800, 'Department': 'Finance'}
{'_id': ObjectId('6902c4afa1fd15453b2c21f5'), 'name': 'bima', 'departement': 'finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b04765dd11d13264c2049'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b04765dd11d13264c204a'), 'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'_id': ObjectId('690b04765dd11d13264c204c'), 'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
{'_id': ObjectId('690b05dd5dd11d13264c204e'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b05dd5dd11d13264c204f'), 'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'_id': ObjectId('690b05dd5dd11d13264c2051'), 'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}

In [5]:
from pymongo import MongoClient

# --- Koneksi ke MongoDB ---
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# --- CREATE (Insert Data) ---
# Data pertama (sudah ada di contoh)
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data Alice inserted')

# Tambahkan beberapa data tambahan
employees = [
    {'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 6000},
    {'name': 'Charlie', 'department': 'HR', 'age': 27, 'salary': 4000},
    {'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}
]
collection.insert_many(employees)
print('Beberapa data tambahan inserted')

# --- READ (Query Data) ---
print('\nData setelah insert:')
for employee in collection.find():
    print(employee)

# --- UPDATE (Ubah Data) ---
# Contoh: update salary Bob jadi 6500
collection.update_one({'name': 'Bob'}, {'$set': {'salary': 6500}})
print('\nData Bob berhasil diupdate')

# --- DELETE (Hapus Data) ---
# Contoh: hapus data Charlie
collection.delete_one({'name': 'Charlie'})
print('Data Charlie berhasil dihapus')

# --- Tampilkan hasil akhir ---
print('\nData akhir dalam koleksi:')
for employee in collection.find():
    print(employee)

Data Alice inserted
Beberapa data tambahan inserted

Data setelah insert:
{'_id': ObjectId('6902c1a5a1fd15453b2c21e9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21eb'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21ec'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 6000}
{'_id': ObjectId('6902c36da1fd15453b2c21ed'), 'name': 'Charlie', 'department': 'HR', 'age': 27, 'salary': 4000}
{'_id': ObjectId('6902c36da1fd15453b2c21ee'), 'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}

Data Bob berhasil diupdate
Data Charlie berhasil dihapus

Data akhir dalam koleksi:
{'_id': ObjectId('6902c1a5a1fd15453b2c21e9'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21eb'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6902c36da1fd15453b2c21ec'), 'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 6500}
{'_id': ObjectId('6902c36da1fd15453b2c21ee'), 'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}

In [3]:
from pymongo import MongoClient

# --- Koneksi ke MongoDB ---
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# --- Data dulu, baru kolom ---
data = [
    ("Asep", "M", 23, 2700, "IT"),
    ("Rina", "F", 28, 4100, "HR"),
    ("Budi", "M", 34, 3000, "IT"),
    ("Dina", "F", 26, 3800, "Finance"),
    ("Tono", "M", 30, 3200, "Finance")
]

columns = ["Name", "Gender", "Age", "Salary", "Department"]

# --- Konversi data ke dictionary agar bisa disimpan ke MongoDB ---
documents = [dict(zip(columns, row)) for row in data]

# --- CREATE (Insert Data) ---
collection.insert_many(documents)
print(" Data berhasil dimasukkan ke MongoDB!\n")

# --- READ (Tampilkan Semua Data) ---
print("Data saat ini:")
for emp in collection.find({}, {"_id": 0}):
    print(emp)

# --- UPDATE (Ubah Data) ---
collection.update_one({"Name": "Asep"}, {"$set": {"Salary": 3000}})
print("\nGaji Asep berhasil diupdate menjadi 3000.\n")

# --- DELETE (Hapus Data) ---
collection.delete_one({"Name": "Tono"})
print("Data Tono berhasil dihapus.\n")

# --- READ LAGI (Lihat Hasil Akhir) ---
print("Data setelah update dan delete:")
for emp in collection.find({}, {"_id": 0}):
    print(emp)

 Data berhasil dimasukkan ke MongoDB!

Data saat ini:
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}
{'Name': 'Asep', 'Gender': 'M', 'Age': 23, 'Salary': 3000, 'Department': 'IT'}
{'Name': 'Rina', 'Gender': 'F', 'Age': 28, 'Salary': 4100, 'Department': 'HR'}
{'Name': 'Budi', 'Gender': 'M', 'Age': 34, 'Salary': 3000, 'Department': 'IT'}
{'Name': 'Dina', 'Gender': 'F', 'Age': 26, 'Salary': 3800, 'Department': 'Finance'}
{'name': 'bima', 'departement': 'finance', 'age': 29, 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
{'Name': 'Asep', 'Gender': 'M', 'Age': 23, 'Salary': 2700, 'Department': 'IT'}
{'Name': 'Rina', 'Gender': 'F', 'Age': 28, 'Salary': 4100, 'Department': 'HR'}
{'Name': 'Budi', 'Gender': 'M', 'Age': 34, 'Salary': 3000, 'Department': 'IT'}
{'Name': 'Dina', 'Gender': 'F', 'Age': 26, 'Salary': 3800, 'Department': 'Finance'}
{'Name': 'Tono', 'Gender': 'M', 'Age': 30, 'Salary': 3200, 'Department': 'Finance'}

Gaji Asep berhasil diupdate menjadi 3000.

Data Tono berhasil dihapus.

Data setelah update dan delete:
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Bob', 'department': 'IT', 'age': 32, 'salary': 5500}
{'name': 'Diana', 'department': 'Marketing', 'age': 35, 'salary': 5500}
{'Name': 'Asep', 'Gender': 'M', 'Age': 23, 'Salary': 3000, 'Department': 'IT'}
{'Name': 'Rina', 'Gender': 'F', 'Age': 28, 'Salary': 4100, 'Department': 'HR'}
{'Name': 'Budi', 'Gender': 'M', 'Age': 34, 'Salary': 3000, 'Department': 'IT'}
{'Name': 'Dina', 'Gender': 'F', 'Age': 26, 'Salary': 3800, 'Department': 'Finance'}
{'name': 'bima', 'departement': 'finance', 'age': 29, 'salary': 4500}
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
{'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'name': 'Bob', 'department': 'IT', 'age': 31, 'salary': 5200}
{'name': 'Diana', 'department': 'IT', 'age': 34, 'salary': 6000}
{'Name': 'Asep', 'Gender': 'M', 'Age': 23, 'Salary': 2700, 'Department': 'IT'}
{'Name': 'Rina', 'Gender': 'F', 'Age': 28, 'Salary': 4100, 'Department': 'HR'}
{'Name': 'Budi', 'Gender': 'M', 'Age': 34, 'Salary': 3000, 'Department': 'IT'}
{'Name': 'Dina', 'Gender': 'F', 'Age': 26, 'Salary': 3800, 'Department': 'Finance'}

In [7]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'IT', 'average_salary': 6500.0}
{'_id': 'Marketing', 'average_salary': 5500.0}
{'_id': None, 'average_salary': None}

In [12]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["tokoOnline"]

data = [
    ["P001", "Laptop ASUS Vivobook", "Elektronik", 9500000, 15],
    ["P002", "Mouse Logitech M170", "Aksesoris", 150000, 40],
    ["P003", "Keyboard Rexus MX9", "Aksesoris", 350000, 25],
    ["P004", "Headset JBL Tune", "Audio", 720000, 30],
    ["P005", "Monitor Samsung 24\"", "Elektronik", 1850000, 12],
    ["P006", "Flashdisk Sandisk 32GB", "Penyimpanan", 75000, 50],
    ["P007", "Harddisk WD 1TB", "Penyimpanan", 650000, 20],
    ["P008", "Charger Anker 25W", "Elektronik", 280000, 35],
    ["P009", "Powerbank Xiaomi 10000mAh", "Elektronik", 300000, 28],
    ["P010", "Kabel Type-C Ugreen", "Aksesoris", 80000, 60]
]

columns = ["product_id", "product_name", "category", "price", "stock"]

# Ubah list data menjadi list of dict (berdasarkan urutan kolom)
documents = [dict(zip(columns, row)) for row in data]

db.products.insert_many(documents)
print('data telah dimasukan')

data telah dimasukan

In [15]:
avg_price = list(db.products.aggregate([
    {"$group": {"_id": None, "avgPrice": {"$avg": "$price"}}}
]))[0]["avgPrice"]

# Cari produk dengan harga di atas rata-rata
above_avg = db.products.find({"price": {"$gt": avg_price}})

print(f"Rata-rata harga: {avg_price}")
for product in above_avg:
    print(product)

Rata-rata harga: 1395500.0
{'_id': ObjectId('6902c590a1fd15453b2c21f7'), 'product_id': 'P001', 'product_name': 'Laptop ASUS Vivobook', 'category': 'Elektronik', 'price': 9500000, 'stock': 15}
{'_id': ObjectId('6902c590a1fd15453b2c21fb'), 'product_id': 'P005', 'product_name': 'Monitor Samsung 24"', 'category': 'Elektronik', 'price': 1850000, 'stock': 12}
{'_id': ObjectId('6902c5f1a1fd15453b2c2202'), 'product_id': 'P001', 'product_name': 'Laptop ASUS Vivobook', 'category': 'Elektronik', 'price': 9500000, 'stock': 15}
{'_id': ObjectId('6902c5f1a1fd15453b2c2206'), 'product_id': 'P005', 'product_name': 'Monitor Samsung 24"', 'category': 'Elektronik', 'price': 1850000, 'stock': 12}

In [6]:
# Aggregation pipeline untuk menghitung total produk per kategori
pipeline = [
    {"$group": {
        "_id": "$category",              # kelompokkan berdasarkan kategori
        "totalProduk": {"$sum": 1}       # hitung jumlah produk di setiap kategori
    }}
]

# Jalankan pipeline
hasil = list(db.products.aggregate(pipeline))

# Tampilkan hasilnya
for data in hasil:
    print(f"Kategori: {data['_id']} | Total Produk: {data['totalProduk']}")

In [7]:
# Membuat koleksi baru
products = db["products"]

# Menambahkan 10 data produk
product_data = [
    {'product_id': 1, 'name': 'Keyboard Wireless', 'category': 'Aksesoris', 'price': 180000, 'stock': 25},
    {'product_id': 2, 'name': 'Mouse Gaming', 'category': 'Aksesoris', 'price': 150000, 'stock': 40},
    {'product_id': 3, 'name': 'Monitor 24 inch', 'category': 'Elektronik', 'price': 1750000, 'stock': 10},
    {'product_id': 4, 'name': 'Flashdisk 64GB', 'category': 'Penyimpanan', 'price': 90000, 'stock': 60},
    {'product_id': 5, 'name': 'SSD 512GB', 'category': 'Penyimpanan', 'price': 850000, 'stock': 15},
    {'product_id': 6, 'name': 'Laptop Stand', 'category': 'Aksesoris', 'price': 120000, 'stock': 30},
    {'product_id': 7, 'name': 'Webcam HD', 'category': 'Elektronik', 'price': 300000, 'stock': 12},
    {'product_id': 8, 'name': 'Headset Bluetooth', 'category': 'Audio', 'price': 250000, 'stock': 20},
    {'product_id': 9, 'name': 'Printer Canon', 'category': 'Elektronik', 'price': 1250000, 'stock': 8},
    {'product_id': 10, 'name': 'Speaker Portable', 'category': 'Audio', 'price': 275000, 'stock': 18}
]

products.insert_many(product_data)
print("Data produk berhasil ditambahkan ke koleksi 'products'")

Data produk berhasil ditambahkan ke koleksi 'products'

In [8]:
# Aggregation pipeline untuk menghitung total produk per kategori
pipeline = [
    {"$group": {
        "_id": "$category",              # kelompokkan berdasarkan kategori
        "totalProduk": {"$sum": 1}       # hitung jumlah produk di setiap kategori
    }}
]

# Jalankan pipeline
hasil = list(db.products.aggregate(pipeline))

# Tampilkan hasilnya
for data in hasil:
    print(f"Kategori: {data['_id']} | Total Produk: {data['totalProduk']}")

Kategori: Aksesoris | Total Produk: 3
Kategori: Audio | Total Produk: 2
Kategori: Elektronik | Total Produk: 3
Kategori: Penyimpanan | Total Produk: 2

In [9]:
# Aggregation pipeline untuk menghitung total produk di setiap kategori
pipeline = [
    {
        '$group': {
            '_id': '$category',              # dikelompokkan berdasarkan kategori
            'total_produk': {'$sum': 1}      # menghitung jumlah produk di tiap kategori
        }
    }
]

# Menjalankan pipeline
results = db.products.aggregate(pipeline)

# Menampilkan hasil agregasi
print("Total produk per kategori:")
for result in results:
    print(result)

Total produk per kategori:
{'_id': 'Aksesoris', 'total_produk': 3}
{'_id': 'Audio', 'total_produk': 2}
{'_id': 'Elektronik', 'total_produk': 3}
{'_id': 'Penyimpanan', 'total_produk': 2}

In [10]:
# Membuat koleksi baru untuk data karyawan
collection_new = db["employees_extended"]

# Menambahkan 40 data karyawan
employees_data = [
    {'name': 'Andi', 'age': 28, 'department': 'IT', 'salary': 6500},
    {'name': 'Budi', 'age': 32, 'department': 'IT', 'salary': 7200},
    {'name': 'Citra', 'age': 24, 'department': 'IT', 'salary': 4800},
    {'name': 'Dewi', 'age': 27, 'department': 'IT', 'salary': 5900},
    {'name': 'Eko', 'age': 35, 'department': 'IT', 'salary': 7700},

    {'name': 'Fani', 'age': 30, 'department': 'Finance', 'salary': 5400},
    {'name': 'Gilang', 'age': 29, 'department': 'Finance', 'salary': 5800},
    {'name': 'Hana', 'age': 26, 'department': 'Finance', 'salary': 5100},
    {'name': 'Irfan', 'age': 23, 'department': 'Finance', 'salary': 4300},
    {'name': 'Joko', 'age': 31, 'department': 'Finance', 'salary': 6000},

    {'name': 'Karin', 'age': 33, 'department': 'Marketing', 'salary': 6300},
    {'name': 'Lia', 'age': 25, 'department': 'Marketing', 'salary': 5100},
    {'name': 'Mira', 'age': 22, 'department': 'Marketing', 'salary': 4000},
    {'name': 'Niko', 'age': 28, 'department': 'Marketing', 'salary': 5600},
    {'name': 'Omar', 'age': 34, 'department': 'Marketing', 'salary': 7200},

    {'name': 'Putri', 'age': 30, 'department': 'HRD', 'salary': 5200},
    {'name': 'Qori', 'age': 27, 'department': 'HRD', 'salary': 4900},
    {'name': 'Rizky', 'age': 35, 'department': 'HRD', 'salary': 6400},
    {'name': 'Sinta', 'age': 24, 'department': 'HRD', 'salary': 4500},
    {'name': 'Tono', 'age': 38, 'department': 'HRD', 'salary': 7000},

    {'name': 'Umar', 'age': 29, 'department': 'Operations', 'salary': 5500},
    {'name': 'Vina', 'age': 33, 'department': 'Operations', 'salary': 6100},
    {'name': 'Wawan', 'age': 26, 'department': 'Operations', 'salary': 5000},
    {'name': 'Xena', 'age': 31, 'department': 'Operations', 'salary': 6300},
    {'name': 'Yusuf', 'age': 36, 'department': 'Operations', 'salary': 6900},

    {'name': 'Zahra', 'age': 27, 'department': 'Support', 'salary': 5200},
    {'name': 'Arman', 'age': 25, 'department': 'Support', 'salary': 4700},
    {'name': 'Bella', 'age': 24, 'department': 'Support', 'salary': 4300},
    {'name': 'Cahya', 'age': 28, 'department': 'Support', 'salary': 5400},
    {'name': 'Dian', 'age': 32, 'department': 'Support', 'salary': 6000},

    {'name': 'Erlang', 'age': 30, 'department': 'Logistics', 'salary': 5600},
    {'name': 'Fitra', 'age': 23, 'department': 'Logistics', 'salary': 4100},
    {'name': 'Gita', 'age': 29, 'department': 'Logistics', 'salary': 5800},
    {'name': 'Hendra', 'age': 34, 'department': 'Logistics', 'salary': 7100},
    {'name': 'Indah', 'age': 28, 'department': 'Logistics', 'salary': 5400},

    {'name': 'Jihan', 'age': 27, 'department': 'Customer Service', 'salary': 5000},
    {'name': 'Kevin', 'age': 31, 'department': 'Customer Service', 'salary': 6200},
    {'name': 'Lukas', 'age': 22, 'department': 'Customer Service', 'salary': 4000},
    {'name': 'Maya', 'age': 29, 'department': 'Customer Service', 'salary': 5600},
    {'name': 'Nadia', 'age': 33, 'department': 'Customer Service', 'salary': 6400}
]

# Menyimpan data ke koleksi
collection_new.insert_many(employees_data)
print(" Sebanyak 40 data karyawan berhasil dimasukkan ke koleksi 'employees_extended'")

 Sebanyak 40 data karyawan berhasil dimasukkan ke koleksi 'employees_extended'

In [11]:
# TUGAS 1: 5 Karyawan dengan gaji tertinggi di setiap departemen

pipeline = [
    {"$sort": {"department": 1, "salary": -1}},
    {"$group": {
        "_id": "$department",
        "top_employees": {"$push": {"name": "$name", "salary": "$salary"}},
    }},
    {"$project": {
        "top_5": {"$slice": ["$top_employees", 5]},
        "_id": 1
    }}
]

for dept in collection_new.aggregate(pipeline):
    print(dept)

{'_id': 'Operations', 'top_5': [{'name': 'Yusuf', 'salary': 6900}, {'name': 'Xena', 'salary': 6300}, {'name': 'Vina', 'salary': 6100}, {'name': 'Umar', 'salary': 5500}, {'name': 'Wawan', 'salary': 5000}]}
{'_id': 'HRD', 'top_5': [{'name': 'Tono', 'salary': 7000}, {'name': 'Rizky', 'salary': 6400}, {'name': 'Putri', 'salary': 5200}, {'name': 'Qori', 'salary': 4900}, {'name': 'Sinta', 'salary': 4500}]}
{'_id': 'Support', 'top_5': [{'name': 'Dian', 'salary': 6000}, {'name': 'Cahya', 'salary': 5400}, {'name': 'Zahra', 'salary': 5200}, {'name': 'Arman', 'salary': 4700}, {'name': 'Bella', 'salary': 4300}]}
{'_id': 'Customer Service', 'top_5': [{'name': 'Nadia', 'salary': 6400}, {'name': 'Kevin', 'salary': 6200}, {'name': 'Maya', 'salary': 5600}, {'name': 'Jihan', 'salary': 5000}, {'name': 'Lukas', 'salary': 4000}]}
{'_id': 'Finance', 'top_5': [{'name': 'Joko', 'salary': 6000}, {'name': 'Gilang', 'salary': 5800}, {'name': 'Fani', 'salary': 5400}, {'name': 'Hana', 'salary': 5100}, {'name': 'Irfan', 'salary': 4300}]}
{'_id': 'IT', 'top_5': [{'name': 'Eko', 'salary': 7700}, {'name': 'Budi', 'salary': 7200}, {'name': 'Andi', 'salary': 6500}, {'name': 'Dewi', 'salary': 5900}, {'name': 'Citra', 'salary': 4800}]}
{'_id': 'Marketing', 'top_5': [{'name': 'Omar', 'salary': 7200}, {'name': 'Karin', 'salary': 6300}, {'name': 'Niko', 'salary': 5600}, {'name': 'Lia', 'salary': 5100}, {'name': 'Mira', 'salary': 4000}]}
{'_id': 'Logistics', 'top_5': [{'name': 'Hendra', 'salary': 7100}, {'name': 'Gita', 'salary': 5800}, {'name': 'Erlang', 'salary': 5600}, {'name': 'Indah', 'salary': 5400}, {'name': 'Fitra', 'salary': 4100}]}

In [12]:
# TUGAS 2: Hapus karyawan yang usianya di bawah 25 tahun
delete_result = collection_new.delete_many({"age": {"$lt": 25}})

print(f"{delete_result.deleted_count} data karyawan dihapus karena berusia di bawah 25 tahun.")

7 data karyawan dihapus karena berusia di bawah 25 tahun.

In [13]:
# TUGAS 3: Laporan total gaji dan rata-rata umur per departemen
pipeline = [
    {"$group": {
        "_id": "$department",
        "total_salary": {"$sum": "$salary"},
        "average_age": {"$avg": "$age"}
    }},
    {"$sort": {"_id": 1}}
]

for report in collection_new.aggregate(pipeline):
    print(report)

{'_id': 'Customer Service', 'total_salary': 23200, 'average_age': 30.0}
{'_id': 'Finance', 'total_salary': 22300, 'average_age': 29.0}
{'_id': 'HRD', 'total_salary': 23500, 'average_age': 32.5}
{'_id': 'IT', 'total_salary': 27300, 'average_age': 30.5}
{'_id': 'Logistics', 'total_salary': 23900, 'average_age': 30.25}
{'_id': 'Marketing', 'total_salary': 24200, 'average_age': 30.0}
{'_id': 'Operations', 'total_salary': 29800, 'average_age': 31.0}
{'_id': 'Support', 'total_salary': 21300, 'average_age': 28.0}